{# templates/app.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ToDo List</title>
        {{ encore_entry_link_tags('app') }}
    

        
    </head>
    <body>
      <div id="vue-app"></div>
      {# <div id="vue-app"> #}
      {# L'appli Vue.js vivra ici #}
      </div>
      <script src="{{asset('build/app.js')}}"></script>  
      {{ encore_entry_script_tags('app') }}
    </body>
</html>